<div fxLayout="column" fxLayoutGap="5px" cdkDropList [cdkDropListEnterPredicate]="dropEnabled" (cdkDropListDropped)="dataDropped($event)">
  <div fxLayout="row">
    <div fxFlex fxLayout="row wrap" class="legend">
      <nz-tag class="tag" fxFlex="120px"
              *ngFor="let data of chartData.selectedData"
              fxLayout="row"
              fxLayoutAlign="space-between center"
              [nzMode]="isOverviewChart ? 'default' : 'closeable'"
              (click)="toggleData(data)"
              (nzOnClose)="onDataRemove(data)">
        <div class="color-picker" [style.background]="data.disabled ? 'rgba(0,0,0,.25)' : data.color"></div>
        <span *ngIf="!data.disabled">{{data.label}}</span>
        <span *ngIf="data.disabled" nz-typography nzType="secondary">{{data.label}}</span>
        <span *ngIf="isOverviewChart"></span>
      </nz-tag>
    </div>
    <div *ngIf="!isOverviewChart" class="menu" fxFlex="64px" fxLayout="row" fxLayoutAlign="center">
      <button nz-button nzType="text" [disabled]="!predictions" [nzLoading]="isProcessingPrediction" (click)="acceptPrediction()">
        <i nz-icon nzType="check-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="!predictions ? 'lightgrey' : '#52c41a'"></i>
      </button>
      <button nz-button nzType="text" nz-dropdown nzTrigger="click" [nzDropdownMenu]="more">
        <i nz-icon nzType="more"></i>
      </button>
    </div>
  </div>
  <div *ngIf="options" class="chart" echarts [options]="options" [initOpts]="initOptions" (chartInit)="setChart($event)"></div>
</div>

<nz-dropdown-menu #more="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item nzDanger (click)="removeChart.emit()"><i nz-icon nzType="delete" nzTheme="outline"></i>Remove</li>
  </ul>
</nz-dropdown-menu>
